
$top-bar-height: 3rem;

.top-bar {
  height: $top-bar-height;
  background-color: black;

  .bar {
    display: flex;
    color: white;
    align-items: center;
    height: $top-bar-height;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
